
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --almond: #3b5998;
  --twine: #8b9dc3;
  --tumbleweed: #dfe3ee;
  --calico: #3b5998;
  --rum-swizzle: #8b9dc3;
  --pearl-lusta: #dfe3ee;;
  --twine2: #3b5998;
  --sorrell-brown: #8b9dc3;
  --heathered-gray: #dfe3ee;
  --thistle-green: #8b9dc3;
}
:root {
  --almond: #3b5998;
  --twine: #8b9dc3;
  --tumbleweed: #0b8f88;
  --calico: #dfe3ee;
  --rum-swizzle: #faf6e6;
  --pearl-lusta: lightgray;
  --sorrell-brown: #cfb494;
  --heathered-gray: #bcb194;
  --thistle-green: #ccc8ac;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--rum-swizzle);
  margin: 0;
  padding: 0;
}

:root {
  --background: white;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
